<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
			md-is-locked-open="$mdMedia('gt-md')" ng-if="!vm.loggingIn">
	<div ng-include="'app/modules/layouts/side-nav/sidenav.html'" flex></div>
</md-sidenav>
<div layout="column" class="relative" layout-fill role="main" ng-controller="LayoutCtrl as layout" ng-cloak
	 ng-if="!vm.loggingIn">
	<md-toolbar>
		<div ng-include="'app/modules/layouts/tool-bar/toolbar.html'"></div>
	</md-toolbar>

	<md-content layout="column" flex md-scroll-y style="background-color:#DCDCDC">
		<div ui-view flex="100"></div>
	</md-content>
</div>

<div layout="column" class="relative" layout-fill role="main" ng-if="vm.loggingIn" ng-cloak>
	<md-content layout-fill style="background-color:#DCDCDC" layout="row" layout-align="center center">

		<md-card>
			<md-progress-linear md-mode="indeterminate"></md-progress-linear>
			<div flex layout-align="center center">
				<h2 class="title" style="text-align:center; font-weight: bold; padding-left:20px; padding-right:20px;">
					{{vm.appTitle}}</h2>
			</div>

		</md-card>

	</md-content>
</div>
