.btn-primary,
#flotTip,
.btn-group.open .btn-primary.dropdown-toggle,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary:hover,
.label-primary,
.table-primary thead th,
.pagination ul > .active > a,
.pagination ul > .active > span,
.gallery ul li .thumb,
.widget-activity ul.filters li.glyphicons.active i,
.ui-slider-wrap .slider-primary .ui-slider-range,
.accordion-heading .accordion-toggle,
.ui-widget-header,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.fc-event-skin,
#external-events li,
.notyfy_wrapper.notyfy_primary,
.progress.progress-primary .bar,
.alert.alert-primary,
.pagination ul > li > a:hover,
.pagination ul > li.primary > a,
.gritter-item-wrapper.gritter-primary .gritter-item,
#content-notification .notyfy_wrapper.notyfy_primary,
.ribbon-wrapper .ribbon.primary,
.label.label-primary,
.widget-stats.primary,
.widget-stats.primary:hover,
.tabsbar:not(.tabsbar-2) ul li.active a,
.widget.widget-wizard-pills .widget-head ul li.primary a,
.bwizard-steps li.active,
.sliderContainer .ui-rangeSlider-bar,
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active,
#tlyPageGuideWrapper #tlyPageGuideMessages .tlypageguide_close,
#tlyPageGuideWrapper #tlyPageGuideMessages span,
.tabsbar.tabsbar-2.active-fill ul li.active a,
.shop-client-products.list ul li a .glyphicons i,
.social-large:not(.social-large-2) a.active,
.social-large:not(.social-large-2) a:hover,
#landing_1 .banner-1 .carousel-indicators li.active,
html.top-full .navbar.main,
html.top-full .navbar.main .btn-navbar,
html.top-full .navbar.main .btn-navbar:hover,
.nav-timeline > li.active > a,
.nav-timeline > li > a:hover,
.nav-timeline > li.active > a:hover,
.layout-timeline ul.timeline > li.active .type:before,
.layout-timeline ul.timeline > li.active .type:after,
.layout-timeline ul.timeline > li.active:before,
.carousel.carousel-1 .carousel-indicators li.active,
.widget-body-gray .ui-datepicker .ui-datepicker-calendar tbody td a.ui-state-active,
.widget.widget-body-primary > .widget-body,
html.sidebar-full #menu {
  background-color: #cc865e;
}
.widget-stats.primary,
.btn-primary,
.tabsbar:not(.tabsbar-2) ul li.active a {
  background-color: #d7a081;
  background-image: -moz-linear-gradient(top, #deb298, #cc865e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#deb298), to(#cc865e));
  background-image: -webkit-linear-gradient(top, #deb298, #cc865e);
  background-image: -o-linear-gradient(top, #deb298, #cc865e);
  background-image: linear-gradient(to bottom, #deb298, #cc865e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdeb298', endColorstr='#ffcc865e', GradientType=0);
}
a,
p a,
.widget .widget-body.list ul li .count,
.widget-stats .txt strong,
.glyphicons.single i:before,
.glyphicons.single,
.table-primary tbody td.important,
.widget.widget-3 .widget-body.large.cancellations span span:first-child,
.widget .widget-footer a:hover,
.widget .widget-footer a:hover i:before,
.widget.widget-3 .widget-footer a:hover,
.widget.widget-3 .widget-footer a:hover i:before,
blockquote small,
.tabsbar.tabsbar-2 ul li.active a,
.tabsbar.tabsbar-2 ul li.active a i:before,
.glyphicons.primary i:before,
.glyphicons.standard:not(.disabled):hover i:before,
.menubar.links.primary ul li a,
.text-primary,
#docs_icons .glyphicons i:before,
.widget.widget-tabs-double-2 .widget-head ul li.active a i:before,
.widget.widget-tabs-double-2 .widget-head ul li.active a,
.shop-client-products.product-details .form-horizontal .price,
.widget-activity ul.list li:hover .activity-icon i:before,
.widget-activity ul.list li.highlight .activity-icon i:before,
#menu ul.menu-1 > li.hasSubmenu.active ul li .glyphicons:hover i:before,
#landing_1 .banner .banner-wrapper.banner-1 p a,
#landing_1 .banner .banner-wrapper.banner-1 h3,
#landing_2 .banner .banner-wrapper.banner-1 p a,
#landing_2 .banner .banner-wrapper.banner-1 .buy a,
#landing_2 .banner .banner-wrapper.banner-1 h3,
#landing_1 .banner-1 .carousel-caption a,
div.glyphicons.glyphicon-primary i:before,
.layout-timeline ul.timeline > li.active .type,
.layout-timeline ul.timeline > li.active .type i:before,
.social-large.social-large-2 a.active i:before,
.social-large.social-large-2 a:hover i:before,
.social-large.social-large-2 a.active,
.social-large.social-large-2 a:hover,
html.front #footer a:not(.btn) {
  color: #cc865e;
}
.btn-primary,
.ui-slider-wrap .slider-primary .ui-slider-handle,
#flotTip,
.widget.widget-2.primary .widget-head,
.widget .widget-body.list.list-2 ul li.active a i:before,
.table-primary thead th,
.pagination ul > .active > a,
.pagination ul > .active > span,
.widget.widget-4 .widget-head .heading,
.ui-widget-header,
.fc-event-skin,
.alert.alert-primary,
.pagination ul > li > a:hover,
.pagination ul > li.primary > a,
.widget-stats.primary,
#menu .slim-scroll > ul.menu-0 > li.active > a,
.widget-chat .media .media-body,
.widget-chat .media .media-body.right,
#menu .slim-scroll > ul.menu-0 > li.active > a,
#menu > ul.menu-0 > li.active > a {
  border-color: #cc865e;
}
.table-primary tbody td {
  background-color: #ffffff;
}
.table-primary tbody tr.selected td,
.table-primary tbody tr.selectable:hover td {
  background-color: #fdfaf9;
}
.table-primary.table-bordered tbody td,
.table-primary,
.pagination ul > .disabled > a,
.pagination ul > .disabled > span {
  border-color: #ffffff;
}
html.top-full .navbar.main {
  border-bottom-color: #a85f35;
}
html.top-full .navbar.main .topnav {
  border-left-color: #a85f35;
  border-right-color: #e5c0ab;
}
html.top-full .navbar.main .topnav > li:first-child {
  border-left-color: #e5c0ab;
}
html.top-full .navbar.main .topnav > li {
  border-bottom-color: #a85f35;
  border-top-color: #e5c0ab;
}
html.top-full .navbar.main .btn-navbar {
  border-bottom-color: #a85f35;
  border-right-color: #a85f35;
}
html.top-full.sidebar-full .menu-left .navbar.main {
  border-left-color: #a85f35;
}
html.top-full.sidebar-full .menu-right .navbar.main {
  border-right-color: #a85f35;
}
html.top-full .navbar.main .topnav > li.glyphs,
html.top-full .navbar.main .topnav > li.search {
  border-left-color: #a85f35;
  border-right-color: #e5c0ab;
  box-shadow: -1px 0 0 0 #e5c0ab, 1px 0 0 0 #a85f35;
  -moz-box-shadow: -1px 0 0 0 #e5c0ab, 1px 0 0 0 #a85f35;
  -webkit-box-shadow: -1px 0 0 0 #e5c0ab, 1px 0 0 0 #a85f35;
}
html.sidebar-full #menu > ul > li.glyphs,
html.sidebar-full #menu .slim-scroll > ul > li.glyphs,
html.sidebar-full #menu > ul > li.search,
html.sidebar-full #menu .slim-scroll > ul > li.search {
  border-top-color: #e5c0ab;
  border-bottom-color: #a85f35;
  box-shadow: 0 -1px 0 0 #a85f35, 0 1px 0 0 #e5c0ab;
  -moz-box-shadow: 0 -1px 0 0 #a85f35, 0 1px 0 0 #e5c0ab;
  -webkit-box-shadow: 0 -1px 0 0 #a85f35, 0 1px 0 0 #e5c0ab;
}
html.sidebar-full #menu .profile {
  border-top-color: #e5c0ab;
}
html.sidebar-full #menu .slim-scroll > ul,
html.sidebar-full #menu > ul {
  border-top-color: #a85f35;
  border-bottom-color: #e5c0ab;
}
html.sidebar-full #menu .slim-scroll > ul > li:first-child,
html.sidebar-full #menu > ul > li:first-child {
  border-top-color: #e5c0ab;
}
html.sidebar-full #menu .appbrand {
  border-bottom-color: #a85f35;
}
html.sidebar-full #menu .profile a,
html.sidebar-full #menu .profile a:hover {
  border-color: #a85f35;
}
html.sidebar-full #menu > ul > li.search form button i:before,
html.sidebar-full #menu .slim-scroll > ul > li.search form button i:before,
html.sidebar-full #menu > ul > li.search form input,
html.sidebar-full #menu .slim-scroll > ul > li.search form input {
  color: #a85f35;
}
html.sidebar-full #menu > ul > li.search form input::-webkit-input-placeholder,
html.sidebar-full #menu .slim-scroll > ul > li.search form input::-webkit-input-placeholder {
  color: #a85f35;
}
html.sidebar-full #menu > ul > li.search form input:-moz-placeholder,
html.sidebar-full #menu .slim-scroll > ul > li.search form input:-moz-placeholder {
  color: #a85f35;
}
html.sidebar-full #menu > ul > li.search form input::-moz-placeholder,
html.sidebar-full #menu .slim-scroll > ul > li.search form input::-moz-placeholder {
  color: #a85f35;
}
html.sidebar-full #menu > ul > li.search form input:-ms-input-placeholder,
html.sidebar-full #menu .slim-scroll > ul > li.search form input:-ms-input-placeholder {
  color: #a85f35;
}
html.sidebar-full #menu > ul > li.glyphs ul li.active,
html.sidebar-full #menu .slim-scroll > ul > li.glyphs ul li.active,
html.sidebar-full #menu > ul > li.glyphs ul li:hover,
html.sidebar-full #menu .slim-scroll > ul > li.glyphs ul li:hover,
html.sidebar-full #menu > ul > li.search form,
html.sidebar-full #menu .slim-scroll > ul > li.search form {
  background: #e5c0ab;
  border-color: #95542f;
}
html.sidebar-full #menu > ul > li.glyphs ul li .glyphicons,
html.sidebar-full #menu .slim-scroll > ul > li.glyphs ul li .glyphicons,
html.sidebar-full #menu > ul > li.glyphs ul li .glyphicons i:before,
html.sidebar-full #menu .slim-scroll > ul > li.glyphs ul li .glyphicons i:before {
  color: #e5c0ab !important;
}
html.sidebar-full #menu > ul > li.glyphs ul li.active .glyphicons,
html.sidebar-full #menu .slim-scroll > ul > li.glyphs ul li.active .glyphicons,
html.sidebar-full #menu > ul > li.glyphs ul li:hover .glyphicons,
html.sidebar-full #menu .slim-scroll > ul > li.glyphs ul li:hover .glyphicons,
html.sidebar-full #menu > ul > li.glyphs ul li .glyphicons i:before,
html.sidebar-full #menu .slim-scroll > ul > li.glyphs ul li .glyphicons i:before {
  color: #fff !important;
}
html.sidebar-full #menu > ul > li.active > a,
html.sidebar-full #menu .slim-scroll > ul > li.active > a,
html.sidebar-full #menu > ul > li:hover > a,
html.sidebar-full #menu .slim-scroll > ul > li:hover > a,
html.sidebar-full #menu > ul > li.open > a,
html.sidebar-full #menu .slim-scroll > ul > li.open > a,
html.sidebar-full #menu > ul > li.glyphs ul,
html.sidebar-full #menu .slim-scroll > ul > li.glyphs ul {
  background: #a85f35;
  border-color: #95542f;
}
html.sidebar-full #menu > ul > li.glyphs ul li.active:last-child,
html.sidebar-full #menu .slim-scroll > ul > li.glyphs ul li.active:last-child,
html.sidebar-full #menu > ul > li.glyphs ul li:hover:last-child,
html.sidebar-full #menu .slim-scroll > ul > li.glyphs ul li:hover:last-child {
  border-color: #95542f;
}
html.rtl.top-full .navbar.main .topnav.pull-right > li:last-child {
  border-left-color: #a85f35;
}
html.rtl.top-full .navbar.main .topnav {
  border-left-color: #e5c0ab;
  border-right-color: #a85f35;
}
html.rtl.top-full .navbar.main .topnav > li.glyphs {
  border-left-color: #e5c0ab;
  border-right-color: #a85f35;
  box-shadow: -1px 0 0 0 #a85f35, 1px 0 0 0 #e5c0ab;
  -moz-box-shadow: -1px 0 0 0 #a85f35, 1px 0 0 0 #e5c0ab;
  -webkit-box-shadow: -1px 0 0 0 #a85f35, 1px 0 0 0 #e5c0ab;
}
html.top-full .navbar.main .topnav > li:last-child.glyphs,
html.top-full .navbar.main .topnav > li:last-child.search {
  box-shadow: -1px 0 0 0 #e5c0ab;
  -moz-box-shadow: -1px 0 0 0 #e5c0ab;
  -webkit-box-shadow: -1px 0 0 0 #e5c0ab;
}
html.top-full .navbar.main .topnav > li:last-child {
  border-right-color: #a85f35;
}
html.top-full .navbar.main .topnav > li.active > a,
html.top-full .navbar.main .topnav > li:hover > a,
html.top-full .navbar.main .topnav > li.open > a,
html.top-full .navbar.main .topnav > li.glyphs ul {
  background: #a85f35;
  border-color: #95542f;
}
html.top-full .navbar.main .topnav > li.glyphs ul li.active:last-child,
html.top-full .navbar.main .topnav > li.glyphs ul li:hover:last-child {
  border-color: #95542f;
}
html.top-full .navbar.main .topnav > li.glyphs ul li.active,
html.top-full .navbar.main .topnav > li.glyphs ul li:hover,
html.top-full .navbar.main .topnav > li.search form {
  background: #e5c0ab;
  border-color: #95542f;
}
html.top-full .navbar.main .topnav > li.glyphs ul li .glyphicons,
html.top-full .navbar.main .topnav > li.glyphs ul li .glyphicons i:before {
  color: #e5c0ab !important;
}
html.top-full .navbar.main .topnav > li.glyphs ul li.active .glyphicons,
html.top-full .navbar.main .topnav > li.glyphs ul li:hover .glyphicons,
html.top-full .navbar.main .topnav > li.glyphs ul li .glyphicons i:before {
  color: #fff !important;
}
html.front .navbar.main .secondary {
  background: #95542f;
  border-color: #a85f35;
}
html.top-full .navbar.main .topnav > li.search form button i:before,
html.top-full .navbar.main .topnav > li.search form input {
  color: #a85f35;
}
html.top-full .navbar.main .topnav > li.search form input::-webkit-input-placeholder {
  color: #a85f35;
}
html.top-full .navbar.main .topnav > li.search form input:-moz-placeholder {
  color: #a85f35;
}
html.top-full .navbar.main .topnav > li.search form input::-moz-placeholder {
  color: #a85f35;
}
html.top-full .navbar.main .topnav > li.search form input:-ms-input-placeholder {
  color: #a85f35;
}
.bwizard-steps li.active:after,
.sliderContainer .ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner {
  border-left-color: #cc865e;
}
.sliderContainer .ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner {
  border-right-color: #cc865e;
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_right:after,
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_left:after,
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_top:after {
  border-top-color: #cc865e;
}
#tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active.tlypageguide_bottom:after {
  border-bottom-color: #cc865e;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #95542f;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #c6774b;
}
.tlypageguide_shadow:after {
  background-color: rgba(204, 134, 94, 0.2);
}
.widget .widget-body.list.list-2 ul li.active {
  border-color: #e5c0ab;
}
.widget .widget-body.list.list-2 ul li a {
  color: #e5c0ab;
}
.widget .widget-body.list.list-2 ul li a i:before {
  background: #ffffff;
  color: #d8a385;
  border-color: #e5c0ab;
}
