<md-card>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">Choose a class</span>
		</md-card-title-text>
	</md-card-title>
	<md-content>
		<md-list>
			<md-list-item class="md-2-line" ng-click="ctrl.selectRootElement(eClass)"
						  ng-repeat="eClass in ctrl.supportedEClasses">
				<ng-md-icon icon="{{ctrl.ECORE_TYPE_ICONS[eClass]}}" class="md-avatar-icon"></ng-md-icon>

				<div class="md-list-item-text">
					<h3> {{ eClass.values.name }} </h3>
				</div>
				<span flex></span>
				<ng-md-icon icon="keyboard_arrow_right"></ng-md-icon>

			</md-list-item>

		</md-list>
	</md-content>
</md-card>

