<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<mapAttribute key="Model Handler">
<mapEntry key="OUT" value=""/>
<mapEntry key="ATL" value="EMF"/>
<mapEntry key="IN" value=""/>
</mapAttribute>
<stringAttribute key="ATL File Name" value="/ATL2WTracer/ATL2WTracer.atl"/>
<mapAttribute key="Libs"/>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="ModelType">
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="ATL" value="METAMODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="OUT" value="/ATL2WTracer/Class2Relational/Class2Relational-WithWTracer.ecore"/>
<mapEntry key="ATL" value="uri:http://www.eclipse.org/gmt/2005/ATL"/>
<mapEntry key="IN" value="/ATL2WTracer/Class2Relational/Class2Relational-ATL-0.2.ecore"/>
</mapAttribute>
<stringAttribute key="Project Name" value="ATL2WTracer"/>
<mapAttribute key="Output">
<mapEntry key="OUT" value="ATL"/>
</mapAttribute>
<mapAttribute key="Input">
<mapEntry key="IN" value="ATL"/>
</mapAttribute>
<booleanAttribute key="AllowInterModelReferences" value="false"/>
</launchConfiguration>
