<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<mapAttribute key="Model Handler">
<mapEntry key="OUT" value=""/>
<mapEntry key="Class" value="EMF"/>
<mapEntry key="Trace" value="EMF"/>
<mapEntry key="Relational" value="EMF"/>
<mapEntry key="trace" value=""/>
<mapEntry key="IN" value=""/>
</mapAttribute>
<stringAttribute key="ATL File Name" value="/ATL2WTracer/Class2Relational/Class2Relational-WithWTracer.atl"/>
<mapAttribute key="Libs">
<mapEntry key="strings" value="/ATL2WTracer/Class2Relational/strings.asm"/>
</mapAttribute>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="ModelType">
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="Class" value="METAMODELINPUT"/>
<mapEntry key="Trace" value="METAMODELOUTPUT"/>
<mapEntry key="Relational" value="METAMODELOUTPUT"/>
<mapEntry key="trace" value="MODELOUTPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="OUT" value="/ATL2WTracer/Class2Relational/Sample-Relational.ecore"/>
<mapEntry key="Class" value="/ATL2WTracer/Class2Relational/Class.ecore"/>
<mapEntry key="Trace" value="/ATL2WTracer/Class2Relational/mw_traceability.ecore"/>
<mapEntry key="Relational" value="/ATL2WTracer/Class2Relational/Relational.ecore"/>
<mapEntry key="trace" value="/ATL2WTracer/Class2Relational/Class2Relational-Trace.ecore"/>
<mapEntry key="IN" value="/ATL2WTracer/Class2Relational/Sample-Class.ecore"/>
</mapAttribute>
<stringAttribute key="Project Name" value="ATL2WTracer"/>
<mapAttribute key="Output">
<mapEntry key="OUT" value="Relational"/>
<mapEntry key="trace" value="Trace"/>
</mapAttribute>
<mapAttribute key="Input">
<mapEntry key="IN" value="Class"/>
</mapAttribute>
<booleanAttribute key="AllowInterModelReferences" value="false"/>
</launchConfiguration>
