<md-content flex layout-fill>
	<md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
		<span>Name: <span class="md-title">{{ctrl.artifact.name}}</span></span>
		<span>Author: <span class="md-subhead">{{ctrl.artifact.author.firstname}} {{ctrl.artifact.author.lastname}} <{{ctrl.artifact.author.email}}></span></span>
	</md-content>


	<md-content layout-gt-sm="column" layout-padding>
		<md-input-container>
			<label>Name</label>
			<input ng-model="ctrl.artifact.name" type="text">
		</md-input-container>
		<md-input-container class="md-block">
			<label>Description</label>
			<textarea ng-model="ctrl.artifact.description" md-maxlength="150" rows="2"></textarea>
		</md-input-container>
	</md-content>

</md-content>
