<md-content layout-align="center center" layout="row" layout-fill flex style="background-color:#DCDCDC">
	<md-card flex="50">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<h2>
					<span class="title">{{ctrl.title}}</span>
				</h2>
				<span flex></span>
			</div>
		</md-toolbar>
		<md-progress-linear ng-if="ctrl.loading" md-mode="indeterminate"></md-progress-linear>

		<md-card-content class="text-center">
			<h1 class="title">Welcome to <strong>mmwe</strong></h1>

			<h3>DISIM's Meta Model Web Editor</h3>
		</md-card-content>

		<md-divider class="margin-top-20"></md-divider>


		<md-content md-theme="docs-dark" layout="column">

			<md-subheader> * You can use <a href="http://www.mdeforge.org"
											style="color:white;font-weight: bold;">mdeforge.org</a>
				credentials
			</md-subheader>
			<!--md-subheader ng-if="ctrl.loading">Attempting to login {{ctrl.username}}</md-subheader-->
			<form>
				<div layout-padding layout="column" flex>
					<md-input-container flex-gt-md="50">
						<label>Username</label>
						<input ng-model="ctrl.username" ng-disabled="ctrl.loading">
					</md-input-container>

					<md-input-container flex-gt-md="50">
						<label>Password</label>
						<input ng-model="ctrl.password" type="password" ng-disabled="ctrl.loading">
					</md-input-container>
				</div>
				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-click="ctrl.login()" type="submit"
							   ng-disabled="!ctrl.username || !ctrl.password || ctrl.loading">Login
					</md-button>
				</md-card-actions>
			</form>
		</md-content>


	</md-card>
</md-content>
