@font-face {
	font-family: 'Pixel'; /*a name to be used later*/
	src: url('/app/assets/fonts/LLPIXEL3.ttf'); /*URL to font*/
}

.title {
	font-family: 'Pixel';
	font-weight: normal;
}

.png-icon {
	margin: 5px auto auto;
	padding: 0;
	display: inline-block;
	background-repeat: no-repeat no-repeat;
	pointer-events: none;
}

.bottom-fab {
	position: fixed !important;
	bottom: 30px !important;
	right: 30px !important;
}
