<div ng-controller="SidenavCtrl as vm" ng-cloak layout="column" layout-fill>
	<md-toolbar class="md-tall md-hue-2">
		<div layout="column" class="md-toolbar-tools-bottom inset">
			<div layout="row">
				<div flex="80" style="margin-top: 10px;">
					<div class="title">{{vm.title}}</div>
				</div>
			</div>
		</div>
	</md-toolbar>
	<md-list flex>
		<md-list-item ui-sref="home.dashboard">
			<div class="inset">
				<ng-md-icon icon="apps"></ng-md-icon>
			</div>
			<p> Dashboard </p>
		</md-list-item>
		<md-list-item ng-repeat="item in vm.menu" ng-click="vm.navigateTo('home.' + item.link)">
			<div class="inset" ng-show="item.icon">
				<ng-md-icon icon="{{item.icon}}"></ng-md-icon>
			</div>
			<p> {{ item.name }}</p>
		</md-list-item>


	</md-list>
	<span flex></span>
	<md-divider></md-divider>
	<a href="http://www.disim.univaq.it/" style="padding-left:10px; padding-right: 10px;">
		<img style="width:100%" src="/app/assets/images/pageres.png">
	</a>

</div>
