<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="mdeforge.plugin.eclipse.contribution1">
         <action
               class="mdeforge.plugin.eclipse.Action1"
               enablesFor="1"
               icon="icons/sample.gif"
               id="mdeforge.plugin.eclipse.action1"
               label="Add Artifact"
               menubarPath="mdeforge.plugin.eclipse.menu2/group2">
         </action>
         <menu
               id="mdeforge.plugin.eclipse.menu2"
               label="Workspace Management"
               path="additions">
            <separator
                  name="group2">
            </separator>
         </menu>
      </objectContribution>
   </extension>

</plugin>
