<!-- as a Dom element -->
<!-- as an attribute -->
<md-content md-theme="docs-dark" layout-align="start center" layout="row" style="overflow: hidden;"
			class="md-toolbar-tools">
	<span flex></span>
	<md-button class="md-icon-button" aria-label="Search" ng-disabled="true">
		<ng-md-icon icon="search"></ng-md-icon>
	</md-button>
	<md-input-container flex="20"
						style="padding-top:0px;padding-bottom:0px;padding-right:0px;margin-bottom:0px;">
		<label>Search</label>
		<input ng-model="ctrl.searchText" type="text" ng-disabled="ctrl.loading">
	</md-input-container>
</md-content>

<md-progress-linear md-theme="docs-dark" md-mode="indeterminate" ng-if="ctrl.loading"></md-progress-linear>
<div class="md-padding" flex layout="column" layout-fill>

	<!--md-card layout="column" flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<ng-md-icon icon="folder"></ng-md-icon>
				&nbsp;
				<h2 class="title">
					Browse meta models
				</h2>
				<span flex></span>
			</div>
		</md-toolbar>

	</md-card-->

	<md-card layout="column" flex>
		<md-list flex ng-if="!ctrl.loading && ctrl.items && ctrl.items.length==0 && ctrl.searchText">
			<md-subheader ng-if="ctrl.searchText">no results for
				<strong>"{{ctrl.searchText}}"</strong>
			</md-subheader>
		</md-list>

		<md-list flex ng-if="!ctrl.loading && ctrl.items.length>0">
			<md-subheader ng-if="ctrl.searchText">Results for
				<strong>"{{ctrl.searchText}}"</strong>
			</md-subheader>
			<md-subheader ng-if="ctrl.lastSearchText && !ctrl.searchText">Results for
				<strong>"{{ctrl.lastSearchText}}"</strong> ( last search on this browser )
			</md-subheader>
			<md-table-container>
				<table md-table>
					<thead md-head>
					<tr md-row>
						<th md-column>
							Name
						</th>
						<th md-column>
							Author
						</th>
						<th md-column>
							Description
						</th>
					</tr>
					</thead>
					<tbody md-body>
					<tr ng-repeat="item in ctrl.items | orderBy : 'name'" ng-click="ctrl.editMetamodel(item)" md-row
						style="cursor:pointer;">
						<td md-cell>{{item.name}}</td>
						<td md-cell>{{ item.author.firstname }} {{ item.author.lastname }}</td>
						<td md-cell>{{ item.description }}</td>
					</tr>
					</tbody>
				</table>
			</md-table-container>
		</md-list>


		<md-list layout-padding ng-if="!ctrl.items && !ctrl.searchText">
			<md-subheader>
				Over 4000 meta models are waiting for you, let's start
				searching!
			</md-subheader>
		</md-list>
	</md-card>


</div>

<md-button class="md-fab bottom-fab" ng-click="ctrl.newMetaModel()">
	<ng-md-icon icon="add"></ng-md-icon>
</md-button>
